{# templates/client/presentation.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Présentation du Client{% endblock %}

{% block body %}
<div class="container">
    <h1>Présentation du Client</h1>
    <p>Bienvenue sur la page de présentation de notre client. Ici, vous trouverez des informations détaillées sur notre client et ses services.</p>
</div>
{% endblock %}